/* Fonts */
@font-face {
  font-family: "Outfit";
  src: url("./Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  --background-color: #eee;
  --text-color: #333;
  --highlight-color: #6590ff;
}

/* Global Styles */
* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  outline-color: var(--text-color);
  color: var(--text-color);
  border-color: var(--text-color);
}

body {
  background: var(--background-color);
  height: 100vh;
  border: 0;
  margin: 0;
}

#no-css {
  display: none;
}

a {
  color: darken(var(--highlight-color), 10%);
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
}

a:hover {
  color: var(--highlight-color);
}

h1 {
  font-size: 48px;
}

img {
  margin: 10px;
  transition: 1s;
  float: right;
}

::selection {
  color: var(--background-color);
  background: var(--text-color);
}

.no-select {
  user-select: none;
}

/* Layout */
#container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.section{
    height: 100%;
    display: grid;
    place-items: center;
}

.subsection{
    display: none;
}

#welcome-div{
    /*  */
}

#about-div{
/**/
}

#banner {
  background: linear-gradient(180deg, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 0) 100%);
  top: 0;
  position: fixed;
  padding: 1vw 1vh;
  width: 100%;
}

#logo-wrapper {
  display: flex;
  gap: 10px;
}

#content {
  display: grid;
  place-items: center;
  padding: 5%;
  padding-top: 4rem;
  width: 100%;
  color: black;
  height: 100%;
}

hr {
  border-color: var(--text-color);
  width: 100%;
}

/* Typography */
.introduction {
  width: fit-content;
  font-size: 8rem;
}

.subtext {
  display: flex;
  font-size: 4rem;
  width: 100%;
}

#role {
  display: contents;
}

#logo {
  font-size: 2rem;
}

#more {
  font-size: 1.2rem;
}

/* Buttons */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.666s;
  user-select: none;
}

button:hover {
  border-radius: 15px;
  box-shadow: 8px 8px 10px #5f5f5f, -8px -8px 10px #ffffff;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.98);
}

.dim {
  opacity: 0.5;
}

/* Slider */
.wrapper {
  width: 100%;
  display: grid;
  place-items: center;
}

#roles {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-container {
  overflow: hidden;
  height: 5.75rem;
}

.slider {
  list-style: none;
  padding: 0;
  animation: marquee-mobile 10s cubic-bezier(0.6, -0.28, 0.74, 0.05) infinite;
  margin: 0px 0px 0px 16px; /* Updated margin */
}

.slider:hover {
  animation-play-state: paused;
}

.slider li {
  margin: 0px;
    margin-top: -0.2px;
}

@keyframes marquee-mobile {
  0% {
    margin-top: 0rem;
  }
  15% {
    margin-top: 0rem;
  }
  20% {
    margin-top: -2.75rem;
  }
  35% {
    margin-top: -2.75rem;
  }
  40% {
    margin-top: -5.5rem;
  }
  55% {
    margin-top: -5.5rem;
  }
  60% {
    margin-top: -8.3rem;
  }
  75% {
    margin-top: -8.3rem;
}
  80% {
    margin-top: -11.1rem;
  }
  95% {
    margin-top: -11.1rem;
  }
  100% {
    margin-top: 0%;
  }
}



#nav {
  top: 0.8rem;
  left: 2.5rem;
  position: absolute;
  list-style: none;
}

#nav li {
  width: fit-content; 
}

#nav li:hover {
   scale: 1.2; 
}





/* Media Queries */
@media all and (max-width: 960px) {
  :root {
    font-size: 12px;
  }

  #nav{
    top: 2rem;
    left: unset;
    right: 7rem;
    text-align: right;
    display: grid;
    place-items: end;
    list-style: none;
  }

  #banner {
    justify-content: end;
  }

  #logo-wrapper {
    flex-direction: row-reverse;
  }

  #logo {
    margin: 10px;
    font-size: 3rem;
  }


  #introduction {
    width: 100%;
    font-size: calc(((1vh + 1vw) / 2) * 15);
  }


  #more {
    font-size: 2rem;
  }

  .slider-container {
    height: 8vw;
  }

  .slider {
    margin-right: 5px;
  }

  .subtext{
    font-size: 2.2rem;
  }
  

  @keyframes marquee {
    0% {
      margin-top: 0%;
    }
    15% {
      margin-top: 0rem;
    }
    20% {
      margin-top: -11.8%;
    }
    35% {
      margin-top: -11.8%;
    }
    40% {
      margin-top: -23.5%;
    }
    55% {
      margin-top: -23.5%;
    }
    60% {
      margin-top: -35.3%;
    }
    75% {
      margin-top: -35.3%;
  }
    80% {
      margin-top: -46.9%;
    }
    95% {
      margin-top: -46.9%;
    }
    100% {
      margin-top: 0%;
    }
  }

}
